html,
body,
#root .main {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.primary-bg {
  border: 0 !important;
  color: white !important;
  background-color: #46139f !important;
}

.secondary-bg {
  border: 0 !important;
  color: white !important;
  background-color: #ff7f50 !important;
}

.contact {
  cursor: pointer;
}
.contact-id {
  visibility: hidden;
}

.contact:hover .contact-id {
  visibility: visible;
}

.close-btn {
  color: #46139f !important;
  background-color: white !important;
  border: 1px solid #46139f !important;
}
